

.mobile{
    position: fixed;
    width: 60%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--bgblack2);
    padding: 2rem;
    transition: all 0.3s ease;
    transform: translateX(-120%);
  }
.mobile.active{
    transform: translateX(0);
  
}
  

.mobile-head{
    margin-bottom: 2rem;
}
.mobile-head i{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.mobile-body a{
    white-space: nowrap;
    font-size: 0.9rem;
}